@font-face {
  src: url(../vendor/font/Montserrat-Bold.woff2) format('woff2'),
  url(../vendor/font/Montserrat-Bold.woff) format('woff'),
  url(../vendor/font/Montserrat-Bold.ttf) format('truetype');
  font-family: 'Montserrat';
  font-weight: 700;
}

@font-face {
  src: url(../vendor/font/Montserrat-Medium.woff2) format('woff2'),
  url(../vendor/font/Montserrat-Medium.woff) format('woff'),
  url(../vendor/font/Montserrat-Medium.ttf) format('truetype');
  font-family: 'Montserrat';
  font-weight: 500;
}

@font-face {
  src: url(../vendor/font/Montserrat-Regular.woff2) format('woff2'),
  url(../vendor/font/Montserrat-Regular.woff) format('woff'),
  url(../vendor/font/Montserrat-Regular.ttf) format('truetype');
  font-family: 'Montserrat';
  font-weight: 400;
}

@font-face {
  src: url(../vendor/font/Montserrat-SemiBold.woff2) format('woff2'),
  url(../vendor/font/Montserrat-SemiBold.woff) format('woff'),
  url(../vendor/font/Montserrat-SemiBold.ttf) format('truetype');
  font-family: 'Montserrat';
  font-weight: 600;
}

