body {
 font-family: 'Montserrat', sans-serif;
 font-weight: 400;
 background-color: #9fb4d2;
//  overflow: hidden;
}

#root {
  position: relative;
}

a,button, input[type="checkbox"] {
  cursor: pointer;
}

a,button {
  opacity: 1;
  transition: opacity 0.2s ease;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}
