.banner {
  // position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  // background-image: url('../images/banner-bg.png');
  // background-repeat: no-repeat;
  // background-size:cover;
  padding-top: 150px;
  padding-bottom: 43px;


  &__vector{
    position: absolute;
    z-index: 1;

    &_type_left{
      top: 0;
      left: 0;
    }

    &_type_right{
      top: 0;
      right: 0;
    }
  }

  &__logo {
    width: 480px;
    z-index: 2;
  }

  &__title {
    font-size: 43px;
    letter-spacing: .05em;
    color: var(--color-light);
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    z-index: 2;
  }

  &__btn{
    background-color: var(--color-dark);
    color: var(--color-light);
    border: 2px solid var(--color-light);
    width: 242px;
    height: 60px;
    font-size: 16px;
    font-weight: 600;
    z-index: 2;
  }

  &__description-container{
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    color: var(--color-white);
    margin-top: 10px;
    z-index: 2;
  }

  &__link{
    color: var(--color-white);
  }

  &__bottom-overlay {
    width: 100%;
    height: 285px;
    position: fixed;
    bottom: 0;
    background: linear-gradient(180deg, rgba(217, 217, 217, 0) 0%, #314664 100%);
    z-index: 1;
  }
}
