@import '../../mixins';

.popup {
  position: fixed;
  // display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  z-index: 10;
  background-color: rgba(49, 70, 100, 0.7);
  opacity: 0;

  &__overlay {
    // width: 1098px;
    // height: 985px;
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__cloud {
    position: absolute;

    &_type_left {
      bottom: 0;
      right: 200px;
      animation: cloudLeftTransform 20s ease-in-out infinite;

      @media screen and (max-width: 700px) {
        & {
          width: 440px;
          bottom: 100px;
        }
      }
    }

    &_type_right {
      top: 0px;
      left: 200px;
      animation: cloudRightTransform 20s ease-in-out infinite;

      @media screen and (max-width: 700px) {
        & {
          width: 326px;
          top: 100px;
        }
      }
    }

  }

  &__container {
    position: relative;
    max-width: 521px;
    min-height: 742px;
    backdrop-filter: blur(30px);
    box-shadow: inset -5px -5px 120px -10px rgba(245, 245, 245, 0.31);
    background: radial-gradient(107.32% 141.42% at 0% 0%, rgba(250, 240, 239, 0.8) 0%, rgba(119, 130, 161, 0.5) 60.41666865348816%, rgba(74, 89, 110, 0) 100%);
    border-radius: 50px;
    box-sizing: border-box;
    padding-inline: 82px 78px;
    border-image: url('../images/forma.svg') 17 / 15px / 0px stretch;

    &_type_success {
      display: flex;
      flex-direction: column;
      gap: 40px;
      min-height: min-content;
      padding-block: 40px;
      border: 1px solid var(--color-white);
    }

    @media screen and (max-width: 700px) {
      & {
        box-sizing: border-box;
        padding-inline: 43px;
        margin-inline: 42px;
        min-width: 291px;
        min-height: min-content;
        border-image: none;
        border: 1px solid var(--color-white);
        border-radius: 25px;
      }
    }
  }

  &__close-btn {
    position: absolute;
    top: 29px;
    left: 29px;
    border: none;
    background-color: inherit;
    width: 38px;
    height: 40px;
    padding: 0;

    img {
      object-fit: cover;
      width: 100%;
    }

    @media screen and (max-width: 700px) {
      & {
        width: 21px;
        top: 16px;
        left: 16px;
      }
    }
  }

  &__decoration {
    position: absolute;
    right: 51px;
    top: 39px;
    max-width: 162px;

    @media screen and (max-width: 700px) {
      & {
        max-width: 111px;
        right: 15px;
        top: 22px;
      }
    }
  }

  &__decoration-text {
    font-weight: 600;
    @include fluid-text(15, 10);
    color: var(--color-white);
    margin-left: 5px;
  }

  &__decoration-img {
    margin-top: 21px;
    width: 152px;
    height: 152px;

    @media screen and (max-width: 700px) {
      & {
        margin-top: 7.6px;
        width: 85px;
        height: auto;
      }
    }
  }

  &__title {
    margin-top: 211px;
    font-weight: 600;
    @include fluid-text(45, 25);
    color: var(--color-white);

    &_type_success{
      margin-top: 0;
    }

    @media screen and (max-width: 700px) {
      & {
        margin-top: 118px;
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    margin-top: 52px;

    @media screen and (max-width: 700px) {
      & {
        margin-top: 30px;
      }
    }
  }

  &__input {
    border: none;
    border-bottom: 1px solid var(--color-white);
    background-color: inherit;
    @include fluid-text(26, 14);
    color: var(--color-white);
    padding: 0 0 9px 0;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: var(--color-white);
    }

    &:nth-child(2) {
      margin-top: 31px;

      @media screen and (max-width: 700px) {
        & {
          margin-top: 17px;
        }
      }
    }
  }

  &__btn-submit {
    margin-top: 50px;
    border: 2px solid var(--color-light);
    color: var(--color-white);
    @include fluid-text(21, 12);
    font-weight: 700;
    background-color: inherit;
    padding-block: 17px;
    transition: background-color 0.3s ease;

    &_type_disabled {
      background-color: #a19e9e;
      cursor: auto;
    }


    &:hover:not(:disabled) {
      background-color: #a6b3c5;
    }

    @media screen and (max-width: 700px) {
      & {
        margin-top: 28px;
      }
    }
  }

  &__checkbox-container {
    display: flex;
    gap: 18px;
    align-items: center;
    margin-top: 22px;

    @media screen and (max-width: 700px) {
      & {
        margin-top: 30px;
        margin-bottom: 36px;
      }
    }
  }

  &__checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    flex-shrink: 0;

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background-color: inherit;
      border: 1px solid var(--color-white);
    }
    &:checked::before {
      content: "";
      background-image: url("../images/checkbox-mark.svg");
      background-size: 90%;
      background-repeat: no-repeat;
      background-position: center;
    }

    @media screen and (max-width: 700px) {
      & {
        width: 13px;
        height: 13px;
      }
    }
  }

  &__label_type_checkbox {
    font-weight: 500;
    @include fluid-text(13, 10);
    line-height: normal;
    color: var(--color-white);

    a {
      color: var(--color-white);
    }
  }

  &__text {
    color: var(--color-light);
  }

  &__btn {
    background-color: var(--color-dark);
    color: var(--color-white);
    width: 200px;
    padding-block: 10px;
    border: 1px solid var(--color-white);
    align-self: center;
  }
}

.closed {
  display: none;
  opacity: 0;
  animation: closePopup .4s ease forwards;
}

.opened {
  opacity: 1;
  animation: popupOpen 1s ease forwards;
}

@keyframes popupOpen {
  0% {
    opacity: 0;
    display: none;
  }
  100% {
    opacity: 1;
    display: flex;
  }
}

@keyframes closePopup {
  0% {
    opacity: 1;
    display: flex;
  }
  90% {
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes cloudLeftTransform {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes cloudRightTransform {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0px);
  }
}
